.chess-board {
    

    &__list {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 800px;
        height: 800px;
    }

    &__item {
        width: calc(100% / 8);
        height: calc(100% / 8);

        &:nth-child(odd) {
            background-color: color('green-board');
        }

        &:nth-child(even) {
            background-color: color('white-board');
        }

        &:nth-child(n + 9):nth-child(even):nth-child(-n + 16) {
            background-color: color('green-board');
        }

        &:nth-child(n + 9):nth-child(odd):nth-child(-n + 16) {
            background-color: color('white-board');
        }

        &:nth-child(n + 25):nth-child(even):nth-child(-n + 32) {
            background-color: color('green-board');
        }

        &:nth-child(n + 25):nth-child(odd):nth-child(-n + 32) {
            background-color: color('white-board');
        }

        &:nth-child(n + 41):nth-child(even):nth-child(-n + 48) {
            background-color: color('green-board');
        }

        &:nth-child(n + 41):nth-child(odd):nth-child(-n + 48) {
            background-color: color('white-board');
        }

        &:nth-child(n + 57):nth-child(even):nth-child(-n + 64) {
            background-color: color('green-board');
        }

        &:nth-child(n + 57):nth-child(odd):nth-child(-n + 64) {
            background-color: color('white-board');
        }
    }
}
